@tailwind base;
@tailwind components;
@tailwind utilities;

/* Direct font-face declaration */
@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('/fonts/AktivGroteskRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Your existing variables here */
}

.text-sharp {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@layer base {
  html, body {
    font-family: 'Aktiv Grotesk', system-ui, -apple-system, sans-serif !important;
  }
}

/* Your other global styles */